<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estimate your house</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <main>
        <h1> ESTIMATE YOUR HOUSE IN SEATTLE/BELLEVUE</h1>
        <form method='POST'>
            {% csrf_token %}
            <div class='form_element'>
                <label class="form_label">Zipcode :</label>
                <input type="number" placeholder="Zipcode" name="zipcode" required=True>
            </div>

            <div class='form_element'>
                <label class="form_label">Surface (in Square Feet):</label>
                <input type="number" placeholder="Surface" name="surface" required=True>
            </div>

            <div class='form_element'>
                <label class="form_label">Number of bedrooms:</label>
                <input type="number" placeholder="Nuber of bedrooms" name="bedrooms" required=True>
            </div>

            <div class='form_element'>
                <label class="form_label">Number of Bathrooms:</label>
                <input type="number" placeholder="Number of bathrooms" name="bathrooms" required=True>
            </div>

            <div class='form_element'>
                <label class="form_label">The house has view on water :</label>
                <input type="checkbox" name="waterfront">
            </div>

            <div class='form_element'>
                <label class="form_label">Number of floors:</label>
                <input type="number" placeholder="Number of floors" name="floors" required=True>
            </div>

            <div class='form_element'>
                <label class="form_label">Condition (0 = have to be renovated -> 5 = Brand new/renovated) :</label>
                <input type="number" placeholder="Condition" name="condition" required=True>
            </div>

            <div class='form_element'>
                <input type="submit" value ='submit' class="btn btn-secondary">
            </div>
        </form>
    </main>

</body>
</html>


